{% load static wagtailuserbar %}

<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}MolGen CMS{% endblock %}</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#1fac98">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700|Merriweather:400,700&display=swap" rel="stylesheet"> -->

        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400|Merriweather:300,400&display=swap" rel="stylesheet">

        <!-- Event calendar -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid/main.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/timegrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/list@4.1.0/main.min.css">

        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
        <script src="https://unpkg.com/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://unpkg.com/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        <script src="https://unpkg.com/@fullcalendar/list@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/locales/de.min.js"></script>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
        <script src="{% static 'js/main.js' %}" defer></script>
        {% endblock %}
    </head>
    <body>
        <div class="main">
        <section>
        {% wagtailuserbar %}
        {% include 'menus/main.html' %}

            <div class="container ">
                {% block content %}
                {% endblock %}
            </div>
        <section>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
