{% load static wagtailuserbar %}

<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}MolGen CMS{% endblock %}</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#1fac98">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

        <!-- Event calendar -->
        <link rel="stylesheet" href="{% static 'css/fullcalendar/main.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fullcalendar/daygrid.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fullcalendar/timegrid.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fullcalendar/list.min.css' %}">

        <script src="{% static 'js/fullcalendar/main.min.js' %}"></script>
        <script src="{% static 'js/fullcalendar/daygrid.min.js' %}"></script>
        <script src="{% static 'js/fullcalendar/timegrid.min.js' %}"></script>
        <script src="{% static 'js/fullcalendar/list.min.js' %}"></script>
        <script src="{% static 'js/fullcalendar/locales/de.js' %}"></script>

        <script src="{% static 'js/main.js' %}" defer></script>
        {% endblock %}
    </head>
    <body>
        <div class="main">
        <section>
        {% wagtailuserbar %}
        {% include 'menus/main.html' %}

            <div class="container ">
                {% block content %}
                {% endblock %}
            </div>
        <section>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
