{% load static %}

<style>

@font-face {
    font-family: 'Merriweather Sans';
    src: local('Merriweather Sans Light Italic'), local('MerriweatherSans-LightItalic'),
        url('{% static 'fonts/subset-MerriweatherSans-LightItalic.woff2' %}') format('woff2'),
        url('{% static 'fonts/subset-MerriweatherSans-LightItalic.woff' %}') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: local('Merriweather Sans Italic'), local('MerriweatherSans-Italic'),
        url('{% static 'fonts/subset-MerriweatherSans-Italic.woff2' %}') format('woff2'),
        url('{% static 'fonts/subset-MerriweatherSans-Italic.woff' %}') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: local('Merriweather Sans ExtraBold Italic'), local('MerriweatherSans-ExtraBoldItalic'),
        url('{% static 'fonts/subset-MerriweatherSans-ExtraBoldItalic.woff2' %}') format('woff2'),
        url('{% static 'fonts/subset-MerriweatherSans-ExtraBoldItalic.woff' %}') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: local('Merriweather Sans Light'), local('MerriweatherSans-Light'),
        url('{% static 'fonts/subset-MerriweatherSans-Light.woff2' %}') format('woff2'),
        url('{% static 'fonts/subset-MerriweatherSans-Light.woff' %}') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: local('Merriweather Sans'), local('MerriweatherSans-Regular'),
        url('{% static 'fonts/subset-MerriweatherSans-Regular.woff2' %}') format('woff2'),
        url('{% static 'fonts/subset-MerriweatherSans-Regular.woff' %}') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
        url('{% static 'fonts/subset-Merriweather-Regular.woff2' %}') format('woff2'),
        url('{% static 'fonts/subset-Merriweather-Regular.woff' %}') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'),
        url('{% static 'fonts/subset-MerriweatherSans-Bold.woff2' %}') format('woff2'),
        url('{% static 'fonts/subset-MerriweatherSans-Bold.woff' %}') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Italic'), local('Merriweather-Italic'),
        url('{% static 'fonts/subset-Merriweather-Italic.woff2' %}') format('woff2'),
        url('{% static 'fonts/subset-Merriweather-Italic.woff' %}') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: local('Merriweather Sans ExtraBold'), local('MerriweatherSans-ExtraBold'),
        url('{% static 'fonts/subset-MerriweatherSans-ExtraBold.woff2' %}') format('woff2'),
        url('{% static 'fonts/subset-MerriweatherSans-ExtraBold.woff' %}') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: local('Merriweather Sans Bold Italic'), local('MerriweatherSans-BoldItalic'),
        url('{% static 'fonts/subset-MerriweatherSans-BoldItalic.woff2' %}') format('woff2'),
        url('{% static 'fonts/subset-MerriweatherSans-BoldItalic.woff' %}') format('woff');
    font-weight: bold;
    font-style: italic;
}



</style>