{% load i18n wagtailcore_tags %}

{% if publications %}
    <h3 class="title is-3 has-text-centered">{% trans 'Publications' %}</h3>
    <div class="box publication-box">
        <table class="table is-fullwidth">
            <tbody>
                {% for publication in publications %}
                    <tr><td>
                        {% if publication.doi %}
                            <a href="{{ publication.link }}"><b>{{ publication.title|richtext }}</b></a>
                        {% else %}
                            <b>{{ publication.title|richtext }}</b>
                        {% endif %}

                        {{ publication.groups|richtext }}
                        {{ publication.authors|richtext }}
                        {{ publication.source|richtext }}
                    </td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="section-button" >
        <a href="https://www.molgen.mpg.de/publikationen"><button class="button">{% trans 'More in RuPe' %}&nbsp&nbsp<i class="fas fa-chevron-right"></i></button></a>
    </div>
{% endif %}