{% load wagtailcore_tags %}

<div class="flex-base">
    {% for item in pages %}
        <div class="card is-preview-wide">
            <div class="card-content">
                <a href="{% pageurl item %}" class="title is-4">{{ item.title }}</a>
                <div class="content">
                    {% if item.specific.preview_text %}
                        {{ item.specific.preview_text|truncatewords_html:20 }}
                    {% endif %}
                    <div class="menu">
                        <ul class="menu-list card-list">
                        {% for child in item.get_children.in_menu.live %}
                            <li>
                                <a class="menu-item" href="{% pageurl child %}"><div>{{ child }}</div></a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>