{% load wagtailcore_tags %}

<div class="flex-base news">
    {% for item in items|slice:2 %}
        <div class="card is-preview">
            <div class="card-content" style="padding-bottom: 0;">
                <a href="{% pageurl item %}" class="title is-4">{{ item.title }}</a>
                <time datetime="{{ item.specific.date }}">{{ item.specific.date }}</time>
                <div class="content">
                    {% if item.specific.preview_text %}
                        {{ item.specific.preview_text|truncatewords_html:20 }}
                    {% endif %}
                </div>
            </div>
            <div class="card-bottom"></div>
            <a href="{% pageurl item %}" class="card-footer-item card-link"><i class="fas fa-chevron-right"></i></a>
        </div>
    {% endfor %}
</div>