html, body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  line-height: 1.5;
}

.aside {
  display:block;
  padding: 30px;
  padding-right: 19px;
  background-color: #F9F9F9;
  border-right: 1px solid #DEDEDE;
}