html, body {
  /* font-family: "Merriweather", serif; */
  font-family: 'Open Sans', serif;
  font-size: 14px;
  line-height: 1.5;
}

h1.is-1 {
  font-family: "Merriweather Sans", sans-serif;
  color: #006c66;
  padding-left: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.2em;
}

.logo {
  max-height: 5rem !important;
  height: 5rem !important;
}

.contains-breadcrumb {
  padding-top: 1rem;
}

.title {
  color: #006c66;
}

.navbar {
  flex-wrap: wrap;
  max-height: 13rem;
}

.navbar-bottom {
  padding: 0 1rem;
}

.navbar-container-top {
  align-items: center !important;
}

.navbar-menu-top {
  height: fit-content;
}

.navbar-menu-bottom {
  display: flex !important;
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-brand-top {
  padding-top: 1rem;
}

.navbar-title {
  text-transform: uppercase !important;
  font-family: "Merriweather Sans", sans-serif !important;
  color: grey !important;
}

.sidebar {
  flex: 0 0 18rem !important;
  flex-wrap: wrap;
  padding: 1rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.sidebar > div {
  flex: 0 0 100%;
}

.breadcrumb {
  margin: 0.5rem;
  font-size: 80%;
  font-family: "Merriweather Sans", sans-serif;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #006c66 !important;
}

.menu-label {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}