html, body {
  font-family: "Merriweather Sans", sans-serif;
  /* font-family: "Merriweather", serif; */
  /* font-family: 'Open Sans', serif; */
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
}

select, input {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  border-radius: 0 !important;
}

/* Footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.box {
  border-radius: 0;
}

.footer-top {
  height:0;
  border-width:0 0 5vw 100vw;
  border-style:solid;
  border-color:transparent #006c66 #006c66 transparent;
  height: 0;
  width: 100%;
}

.footer {
 
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  background-color: #006c66;
}

.footer div, .footer a, .footer p {
  color: white !important;
}

.footer .menu-label:not(:last-child) {
  margin-bottom: 0.3em;
}

.footer .menu-list a:hover {
  background: transparent;
  font-weight: bold;
}

.footer .menu-label {
  /* text-decoration: underline; */
  /* border: 1px solid white; */
  font-weight: 400;
  font-family: "Merriweather", serif;
}

/* Search */

#primary-search {
  margin: 5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#primary-search .field {
  display: flex;
  justify-content: center
}

#primary-search .control {
  flex-basis: 40rem;
  flex-shrink: 1;
}

.button {
  font-family: "Merriweather Sans", sans-serif !important;
}

.column {
  display: flex;
  flex-direction: column;
}

.content .fa-chevron-right {
  padding-left: 1em;
}

.title {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

.title.is-1 {
  color: #006c66;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.title.is-2, .title.is-3 {
  font-family: "Merriweather Sans", sans-serif;
}

.logo {
  max-height: 5rem !important;
  height: 5rem !important;
}

.title {
  color: #006c66;
}

.navbar {
  flex-wrap: wrap;
  max-height: 13rem;
}

.navbar-bottom {
  padding: 0 1rem;
}

.navbar-container-top {
  align-items: center !important;
}

.navbar-menu-top {
  height: fit-content;
}

.navbar-menu-bottom {
  display: flex !important;
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-brand-top {
  padding-top: 1rem;
}

.navbar-title {
  text-transform: uppercase !important;
  font-family: "Merriweather Sans", sans-serif !important;
  color: grey !important;
}

.navbar-dropdown {
  border-radius: 0 !important;
}

.narrow li {
  width: 20rem;
}

.sidebar {
  flex: 0 0 22rem !important;
  flex-wrap: wrap;
  padding: 1rem;
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  padding-bottom: 2rem;
  margin-top: 3rem;
  align-content: flex-start;
  line-height: normal;
}

@media only screen and (max-width: 1215px) {
  .sidebar {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    padding-right: 2rem;
  }
}

.sidebar p {
  margin-bottom: 0 !important;
}

.sidebar h4 {
  margin-top: 1.3em;
}

.sidebar h5, .sidebar h6 {
  margin-top: 1em !important;
}

.sidebar ul, .menu ul {
  list-style: none;
  margin: 0;
}

.sidebar a, .menu a {
  color: #006c66;
  /* font-weight: 400; */
}

.sidebar li, .menu li {
  list-style: none;
}

.sidebar h4 {
  color: #006c66;
  font-weight: 400;
  letter-spacing: .1em;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.sidebar time {
  color: black;
  font-size: 85%;
  text-align: end;
  flex-basis: 100%;
}

.event-button {
  display: flex !important;
  flex-wrap: wrap;
}

.contact {
  line-height: 90%;
  margin: 1rem 0 !important;
}

.contact .card-content {
  padding: 1em;
}

.contact .card-content p {
  line-height: 120%;
  /* padding: 0.5em; */
}

/* .contact table {
  margin-bottom: 0.5em !important;
} */

.contact td {
  padding: 0.3em !important;
  border: 0 !important;
}

.fas {
  color: #006c66 !important;
}

.menu {
  width: 100%;
}

.menu-item {
  border: 1px solid #dbdbdb;
  border-radius: 0 !important;
  margin: 0.5em;
}

.padded {
  padding: 0 0.5em;
}

.menu-list ul {
  margin-right: 0 !important;
}

.menu-list a {
  border-radius: 0 !important;
}

.breadcrumb {
  padding-top: 1rem;
  margin: 0.5rem;
  font-size: 80%;
  font-family: "Merriweather Sans", sans-serif;
}

.breadcrumb a {
  color: #006c66;
}

.breadcrumb a:hover {
  color: grey;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #006c66 !important;
}

.menu-label {
  display: block;
  font-size: 1.2rem;
}

/* .menu-list a {
  color: #006c66;
  font-weight: 400;
} */

.card-list {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 1rem;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
}

.card-list li {
  width: 50%;
  list-style: none;
  margin: 0 !important;
}


.card-list a {
  color: #006c66;
  font-weight: 400;
  /* border-top: none;
  border-left: none;
  border-right: none;
  margin: 0; */
}

/* .card-list li:last-child .menu-item {
  border: none;
} */

.is-current {
  background: #eeeeee;
  font-weight: 400;
}

.card {
  margin: 1rem;
  width: inherit;
  flex-shrink: 0;
}

.is-preview {
  /* max-width: 50%; */
  flex-basis: 17rem;
  overflow: hidden;
}

.is-preview .card-content {
  padding: 1rem;
}

.is-preview .content {
  max-height: 7rem;
}

.is-preview .card-bottom {
  position: absolute;
  z-index: 2;
  height: 4em;
  bottom: 0;
  width: 100%;
  border-bottom: 1.5em solid white;
  position: absolute;
  background-image: linear-gradient(to top, white, white, transparent);
}

.is-preview h1, .is-preview h2, .is-preview h3, .is-preview h4, .is-preview h5, .is-preview h6 {
  font-size: 110%;
}

.is-preview-wide {
  max-width: 45rem;
  flex-basis: 35rem;
  flex-shrink: 1;
  flex-grow: 1;
}

.category-label {
  float: right;
  font-size: 90%;
  font-weight: bold;
  text-transform: uppercase;
  color: grey;
}

.flex-align {
  display: flex !important;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.flex-base {
  display: flex !important;
  flex-wrap: wrap;
  align-items: stretch;
  /* width: 100%; */
  justify-content: space-around;
}

@media (max-width: 1087px) {
  .flex-base {
    display: block !important;
  }
}

.news .card {
  flex-grow: 1;
  flex-shrink: 1;
}

.card-content > time {
  font-size: 90%;
  font-weight: bold;
}

.card-content > .content {
  padding: 1rem 0;
}

.card-content > .title {
  margin: 0;
  display: block;
}

.card-link {
  padding: 0.3rem 1.2rem 1.2rem 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #006c66;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.card-head {
  /* font-color: gray !important; */
  padding: 0 !important;
  margin: 0 0 0.8em 0 !important;
}

.card-head a {
  color: #4a4a4a;
}

.card-head a:hover {
  color: black;
}

.section-button {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.button {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 110%;
  border-radius: 0;
  background: #eeeeee;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #006c66;
}

.is-important .card-content{
  /* background-color: #eeeeee */
  border: 1px solid grey;
}

.tag .fa {
  padding-right: 0.8em;
}

/* Full Calendar */

.overflow-container {
  overflow: auto;
  width: inherit; 
}

.fc-button {
  border-radius: 0 !important;
}

.calendar-list {
  min-width: 30rem;
}

.calendar-list .fc-scroller {
  /* max-height: 30rem; */
  height: auto !important;
  min-height: 6rem;
}

.calendar-list .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0 !important;
}

.calendar-list .fc {
  padding: 1rem;
}

/* Pagination */
.is-current {
  background-color: transparent !important;
  border-color: #006c66 !important;
  /* font-weight: bold; */
}

.pagination-link, .pagination-next, .pagination-previous {
  border-radius: 0 !important;
  color: black !important;
  /* box-shadow: 1px 1px 0px 0px #eeeeee; */
}

/* TOC */
#toc {
  font-size: 95%;
}

#toc a::before {
  content: '\2193';
  padding-right: 0.5em;
  font-size: 120%;
  vertical-align: bottom;
}

#toc .h2 {
  text-indent: .25in;
}
#toc .h3 {
  text-indent: .5in;
}
#toc .h4 {
  text-indent: .75in;
}
#toc .h5 {
  text-indent: 1in;
}
#toc .h6 {
  text-indent: 1.25in;
}

/* Messages */
.banner{
  margin-bottom: 4rem !important;
}

.message, .message * {
  border-radius: 0;
}

.message-header {
  background-color: #006c66;
}

.messages {
  margin: 2rem 0;
}

.messages .message {
  margin-top: 1rem;
}

/* .root_columns .column {
  flex: 23em;
} */

/* Contact List */

.contact_search {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact_search input {
  max-width: 30em;
  height: 2.5em;
}

.contact_search > * {
  margin: 1em;
}

.contacts_table {
  overflow-x: auto; width: 100%; border-radius: 0;
}


/* Images */

.right, .left, .full-width {
  padding: 1em 0;
}

.right {
  float: right !important;
  padding-left: 1.5em;
}

.left {
  float: left !important;
  padding-right: 1.5em;
}

.full-width {
  width: 100%;
}

/* Content */

.content h1, .content h2, .content h3 {
  width: 100%;
  display: inline-block;
}

a {
  color: #006c66;
}

a:hover {
  color: grey;
}

.rich-text::after {
  content: '';
  width: 100%;
  height: 0;
  display: table;
  clear: both;
}

/* Navbar */

.navbar-dropdown a {
  color: #006c66;
}

.navbar-dropdown a:hover {
  color: grey !important;
}

/* Fix table overflow on mobile */

@media screen and (max-width: 1087px) {
  .container {
    margin: 0;
  }
}

/* Tags */

.tag {
  border-radius: 0 !important;
}

a.tag {
  color: #006c66;
}

a.tag:hover {
  color: grey;
}

/* Publications */

.publication-box {
  margin: 1rem;
}