{% load event_tags %}

<div id="event_list"></div>


{% get_json_events event_index.specific as events %}
<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('event_list');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'list' ],
            defaultView: 'listWeek',
            events: {{ events|safe }},
            locale: '{{ LANGUAGE_CODE }}',
            header: {
                    left:   '',
                    center: '',
                    right:  ''
                }
        });

        calendar.render();
    });

</script>