{% load static i18n wagtailcore_tags %}

{% get_current_language as LANGUAGE_CODE %}

<nav class="navbar is-light is-transparent" role="navigation" aria-label="main navigation">
  <div class="container is-hidden-touch navbar-container-top">
    <div class="navbar-brand navbar-brand-top">
      <a href="{% pageurl request.site.root_page %}" class="navbar-item">
        {% if LANGUAGE_CODE == "de" %}
          <img src="{% static 'images/molgen-logo-intern.svg' %}" class="logo">
        {% else %}
          <img src="{% static 'images/molgen-logo-intern-en.svg' %}" class="logo">
        {% endif %}
      </a>
    </div>
    <div class="navbar-menu navbar-menu-top">
      <div class="navbar-end">
          {% if request.user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="#" class="navbar-link navbar-title">{{ request.user }}</a>
            <div class="navbar-dropdown is-boxed">
                <a href="{% url 'wagtailadmin_home' %}" class="navbar-item">{% trans 'Dashboard' %}</a>
                <a href="{% url 'wagtailadmin_account' %}" class="navbar-item">{% trans 'Settings' %}</a>
                <hr class="navbar-divider"></hr>
                <a href="{% url 'logout' %}" class="navbar-item">{% trans 'Logout' %}</a>
            </div>
          </div>
          {% else %}
            <a href="{% url 'wagtailadmin_login' %}?next=/" class="navbar-item navbar-title">{% trans 'Login' %}</a>
          {% endif %}
          <div class="navbar-item">
            <div class="field"><div class="control">
            <div class="select">
              {% if request.is_preview %}
                <form action="" method="get" id=language_form>
                  <select name="mode" onchange="language_form.submit()">
              {% else %}
                <form action="{% url 'set_language' %}" method="post" id=language_form>
                  {% csrf_token %}
                  <select name="language" onchange="language_form.submit()">
              {% endif %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                      <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                          {{ language.name_local }}
                      </option>
                    {% endfor %}
                  </select>
                </form>
            </div></div></div>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="navbar-brand">
      <a href="{% pageurl request.site.root_page %}" class="navbar-item is-hidden-desktop">
        <img src="{% static 'images/molgen-logo.svg' %}">
      </a>
        <a role="button" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
    </div>
    <div class="navbar-menu" id="navMenu" style="flex-shrink: 1">
      <div class="navbar-start" style="flex-wrap: wrap;">
        {% for item in request.site.root_page.get_children.live.in_menu %}
          {% with item.get_children.live.in_menu as parents %}
            {% if parents %}
              <div class="navbar-item has-dropdown is-hoverable">
                <a href="{% pageurl item %}" class="navbar-link navbar-title is-hidden-touch">
                  {{ item }}
                </a>
                <div class="navbar-link navbar-title is-hidden-desktop">
                  <a href="{% pageurl item %}" class="">{{ item }}</a>
                </div>

                <div class="navbar-dropdown is-hidden-touch is-boxed">
                  {% for parent in parents %}
                  <a href="{% pageurl parent %}" class="navbar-item">
                    <b>{{ parent }}</b>
                  </a>
                    {% with parent.get_children.live.in_menu as children %}
                      {% if children %}
                        {% for child in children %}
                          <a href="{% pageurl child %}" class="navbar-item">
                            {{ child }}
                          </a>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                      {% if not forloop.last %}
                        <hr class="dropdown-divider">
                      {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div class="navbar-item">
                <a href="{% pageurl item %}" class="navbar-title">
                  {{ item }}
                </a>
              </div>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>

      <div class="navbar-end" style="flex-shrink: 0">
        <div class="navbar-item">
          <form action="{% url 'search' %}" method="get" class="field has-addons">
            <div class="control is-expanded">
              <input type="text" name="query" value="{{ search_query }}" class="input" placeholder="{% trans 'Search' %}" style="height: 100%">
            </div>
            <div class="control">
              <button type="submit" class="button">
                <span class="icon has-text-grey">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>