{% load wagtailcore_tags i18n %}


{% with page.category as category %}

    {% with category.get_children.live.in_menu as children %}

    {% if children %}

    <div class="menu" style="padding-top: 2rem;">
    <a href="{% pageurl category %}" class="menu-label">
        {{ category }}
    </a>
    <ul class="menu-list">
            {% for menu_page in children %}
            <li>
                {% include 'menus/components/menu_item.html' with menu_page=menu_page is_root=True %}
            </li>
            {% endfor %}
    </ul>
    </div>

    {% endif %}
    {% endwith %}

    <div class="content" style="padding-top: 2rem;">
        {% include 'news/components/news_list.html' with news=category.specific.news %}
    </div>

    <div class="content" style="padding-top: 2rem;">
        {{ category.specific.side_content|richtext }}
    </div>


    {% with category.specific.contacts.all as contacts %}
        {% if contacts %}
        <div class="content">
            <h4 class="">{% trans 'Contact' %}</h4>
            <ul>
                {% for contact in contacts %}
                    <li>
                        <ul class="contact">
                            <li style="font-weight: 400;">{{ contact.contact.name }}</li>
                            <li>{{ contact.position }}</li>
                            <li><i class="fas fa-at"></i> <a href="mailto:{{ contact.contact.email }}">{{ contact.contact.email }}</a></li>
                            {% if contact.contact.phone %}
                                <li><i class="fas fa-phone"></i> {{ contact.contact.phone }}</li>
                            {% endif %}
                            {% if contact.contact.room %}
                                <li><i class="fas fa-building"></i> {{ contact.contact.room }}</li>
                            {% endif %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}

{% endwith %}