{% extends 'base/page.html' %}

{% load wagtailcore_tags %}

{% block page_content %}
    <h2 class="title is-2">{{ page.title }}</h2>
    <div class="content">
        <p>
            {{ page.body|richtext }}
        </p>
    </div>

    {% include 'news/components/news_preview.html' with news=page.news %}


    <h3 class="title is-3">Content</h3>
    {% for child in page.get_children.live %}
        <a href="{% pageurl child %}">
            <div class="card">
            <div class="card-content">
                <p class="subtitle">
                {{ child.title }}
                </p>
            </div>
        </div>
        </a>
    {% endfor %}
{% endblock %}