{% extends 'base/page.html' %}

{% load wagtailcore_tags %}

{% block page_content %}
    <h2 class="title is-2">{{ page.title }}</h2>
    <div class="content">
        <p>
            {{ page.body|richtext }}
        </p>
    </div>

    {% include 'news/components/news_preview.html' with news=page.news %}

    <!-- <h3 class="title is-3">Content</h3> -->
    <div class="section">
        {% include 'base/components/content_preview.html' with pages=page.get_children.in_menu.live %}
    </div>
    {% endblock %}