{% extends 'base/page.html' %}

{% load wagtailcore_tags %}

{% block page_content %}
    <h2 class="title is-2">{{ page.title }}</h2>
    <div class="content">
        <p>
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </p>
    </div>

    {% include 'news/components/news_preview.html' with news=page.news %}

    <h3 class="title is-3">Content</h3>
    {% include 'base/components/list_menu.html' with items=page.get_children.in_menu.live %}

    {% endblock %}