{% extends 'base/page_wide.html' %}

{% load i18n wagtailcore_tags wagtailimages_tags publication_tags %}


{% block page_content %}

    {% for banner in page.banner %}
        <article class="message banner">
            {% if banner.value.title %}
            <div class="message-header">
                <p>{{ banner.value.title }}</p>
            </div>
            {% endif %}
            <div class="message-body">
                {{ banner.value.text|richtext }}
            </div>
        </article>
    {% endfor %}

    {% comment %} {% include 'base/components/search_big.html' %} {% endcomment %}

    <div class="columns is-desktop">
        <div class="column">
            {% include 'news/components/news_preview.html' with news=page.news %}
        </div>
    </div>

    <div class="columns is-desktop">
        <div class="column" style="flex-grow: 2;">
            {% publication_list %}
        </div>

        {% if page.event_index %}
            <div class="column">
                <h3 class="title is-3 has-text-centered">{% trans 'Events this week' %}</h3>
                <div class="overflow-container">
                    <div class="calendar-list">
                        {% include 'events/components/event_list.html' with event_index=page.event_index %}

                    </div>
                </div>
                <div class="section-button" >
                    <a href="{% pageurl page.event_index %}"><button class="button">{% trans 'All events' %}&nbsp&nbsp<i class="fas fa-chevron-right"></i></button></a>
                </div>
            </div>
        {% endif %}

    </div>

    {% if page.featured_image %}
        <div class="column">
            <h3 class="title is-3 has-text-centered">{{ page.featured_image.title }}</h3>
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        {% image page.featured_image.image original %}
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">{{ page.featured_image.text|richtext }}</div>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}