{% extends 'base/page_wide.html' %}

{% load i18n wagtailcore_tags %}


{% block page_content %}

    {% if page.banner %}
        <article class="message banner">
            {% if page.banner.title %}
            <div class="message-header">
                <p>{{ page.banner.title }}</p>
            </div>
            {% endif %}
            <div class="message-body">
                {{ page.banner.text|richtext }}
            </div>
        </article>
    {% endif %}

    {% include 'base/components/search_big.html' %}

    {% include 'news/components/news_preview.html' with news=page.news %}

    {% if page.event_index %}
        <div class="calendar-list">
            <h3 class="title is-3">{% trans 'Events this week' %}</h3>
            {% include 'events/components/event_list.html' with event_index=page.event_index %}
            <div class="section-button" >
                <a href="{% pageurl page.event_index %}"><button class="button">{% trans 'All events' %}&nbsp&nbsp<i class="fas fa-chevron-right"></i></button></a>
            </div>
        </div>
    {% endif %}

{% endblock %}