{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% include_block page.body %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-half">

        <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
            <ul>
                {% for ancestor in page.get_ancestors|slice:"2:" %}
                    <li><a href="{% pageurl ancestor %}">{{ ancestor }}</a></li>
                {% endfor %}
                <li class="is-active"><a href="#" aria-current="page">{{ page }}</a></li>
            </ul>
        </nav>

        <div class="container">
            <div class="content">
            {% for block in page.body %}
            <p>{% include_block block %}</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}