{% extends 'base/page.html' %}
{% load event_tags i18n %}

{% block content %}
    <div class="section">

        <h2 class="title is-2">{{ page.title }}</h2>

        <div id="calendar"></div>
        <br>
        <a href="{% url 'ics' %}" class="button cal-button">{% trans 'Download ICS' %}</a>


    </div>

    {% get_json_events page as events %}
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'dayGrid', 'timeGrid' ],
                events: {{ events|safe }},
                locale: '{{ LANGUAGE_CODE }}',
                header: {
                    left:   'dayGridMonth,timeGridWeek,timeGridDay',
                    center: 'title',
                    right:  'prev,next today'
                }
            });

            calendar.render();
        });

    </script>

{% endblock %}