{% extends 'base/page.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block page_content %}

    {% include 'base/components/header_image.html' %}
    <section class="section">
            {% if page.header_image %}
            {% endif %}
            <h1 class="title">{{ page.title }}</h1>
            {{ page.date }}
            <div class="content">
                <p>
                    {% for block in page.body %}
                        {% include_block block %}
                    {% endfor %}
                </p>
            </div>
    </section>
{% endblock %}