{% extends 'base/page.html' %}

{% load wagtailcore_tags wagtailimages_tags wagtailimages_tags i18n %}

{% block page_content %}


<h1 class="title">{{ page.title }}</h1>
<div class="flex-base" style="flex-direction: column;">
{% for child in news_items %}
    <div class="card">
        {% if child.specific.header_image %}
            <div class="card-image">
                <figure class="image">
                    {% image child.specific.header_image fill-1000x400 %}
                </figure>
            </div>
        {% endif %}
        <div class="card-content">
            <time datetime="{{ child.specific.date }}">{{ child.specific.date }}</time>
            {% if page.show_all and child.category %}
                <a href="{% pageurl child.category %}" class="category-label">{{ child.category }}</a>
            {% endif %}
            <a href="{% pageurl child %}" class="title is-4">{{ child.title }}</a>
            <div class="content no-images">
                {% if child.preview_text %}
                    {{ child.preview_text|truncatewords_html:20 }}
                {% endif %}
                <a href="{% pageurl child %}" class="card-footer-item card-link"><i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<br>
<br>
{% include 'base/components/pagination.html' with items=news_items %}

{% endblock %}

{% block sidebar_content %}
    {{ block.super }}
    {% if page.is_root %}
        <div class="menu">
            <div class="menu-label">{% trans 'Blogs' %}</div>
            <ul class="menu-list">
            {% for blog in blogs %}
                {% if blog.category %}
                <li><a href="{% pageurl blog %}" class="menu-item">{{ blog.category }}</a></li>
                {% else %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}